.movie-card {
  padding: 1.2rem;
}

.movie-card-button {
  margin: 1%;
}

.movie-card img {
  border-radius: 1.5rem;
  padding: 0.75rem;
}

.movie-card-star {
  font-size: 2rem;
  opacity: 0.3;
  margin: 0 1rem;
  transition: all 300ms ease;
}

.movie-card-star:hover {
  opacity: 0.9%;
  cursor: pointer;
}

.movie-card-star-active {
  opacity: 0.9%;
  font-size: 2rem;
  margin: 0 1rem;
  transition: all 300ms ease;
}
