.movie-view {
  color: white;
}

.label {
  font-weight: 700;
  font-size: large;
}

img {
  display: block;
  margin: 15px auto;
}

.movie-view-button {
  margin-top: 2rem;
  margin-right: 1.5rem;
}
