.login__container {
  color: whitesmoke;
  font-weight: 800;
  background-image: url("../../images/movie_theater.jpeg");
}

.login__container Button {
  margin-top: 1.5rem;
  margin-right: 1rem;
}

h1 {
  text-align: center;
  padding-bottom: 1.5rem;
}

Form {
  width: 25%;
  margin: auto;
}

.login__label {
  color: whitesmoke;
  font-weight: 800;
  font-size: 1.2rem;
  margin: 1rem 0;
}
